<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien1" class="com.telusco.Alien" scope="prototype">

    </bean>

    <!-- bean definitions here -->
    <bean id="alien2" class="com.telusco.Alien">
        <property name="age" value="21" />
        <property name="lap" ref="laptop" />
    </bean>

    <bean id="alien3" class="com.telusco.Alien">
        <constructor-arg name="age" value="25" />
        <constructor-arg name="lap" ref="laptop" />
    </bean>

    <bean id="laptop" class="com.telusco.Laptop">

    </bean>

</beans>



