<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien1" class="com.telusco.Alien" scope="prototype">

    </bean>

    <!-- bean definitions here -->
    <bean id="alien2" class="com.telusco.Alien">
        <property name="age" value="21" />
        <property name="comp" ref="comp" />
    </bean>

    <bean id="alien3" class="com.telusco.Alien">
        <constructor-arg name="age" value="25" />
        <constructor-arg name="comp" ref="comp" />
    </bean>

    <bean id="comp" class="com.telusco.Laptop" />
    <bean id="desktop" class="com.telusco.Desktop"  lazy-init="true"/>
    <bean id="eng" class="com.telusco.Engineer" autowire="byName">
        <!--<constructor-arg name="name" value="Manojit" />
        <constructor-arg name="comp" ref="desktop"/>-->
        <property name="name" value="Manojit Nandi" />
        <!--<property name="comp" ref="desktop" />-->
    </bean>




</beans>



